<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="file-manager-body">
    <%- include('./partials/nav.ejs') %>

    <div class="content file-manager-content">
        <h2 class="section-title"><%= i18n.t('manage_files') %></h2>
        <form action="/api/files/upload" method="POST" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="file" required class="file-input">
            <button type="submit" class="btn btn-primary"><%= i18n.t('upload_file') %></button>
        </form>

        <h3 class="sub-section-title"><%= i18n.t('files_list') %></h3>
        <div class="table-container">
            <table class="files-table">
                <thead>
                    <tr>
                        <th><%= i18n.t('name') %></th>
                        <th><%= i18n.t('size') %></th>
                        <th><%= i18n.t('type') %></th>
                        <th>Thumbnail</th>
                        <th><%= i18n.t('actions') %></th>
                    </tr>
                </thead>
                <tbody>
                    <% files.forEach(file => { %>
                        <tr>
                            <td><%= file.name %></td>
                            <td><%= file.size %></td>
                            <td><%= file.type %></td>
                            <td>
                                <% if (file.type.startsWith('image/')) { %>
                                    <% if (file.thumbnailPath) { %>
                                        <img src="<%= file.thumbnailPath %>" alt="Thumbnail" style="width: 50px; height: 50px;">
                                    <% } else { %>
                                        Thumbnail processing
                                    <% } %>
                                <% } else { %>
                                    Not an image
                                <% } %>
                                <!-- Debug info -->
                                
                            </td>
                            <td class="action-buttons">
                                <a href="<%= file.path.replace(/^.*[\\\/]public[\\\/]/, '') %>" target="_blank" class="btn btn-secondary"><%= i18n.t('view') %></a>
                                <form action="/api/files/<%= file.id %>" method="POST" class="inline-form" onsubmit="return handleDelete(this)">
                                    <button type="submit" class="btn btn-danger"><%= i18n.t('delete') %></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    <script src="/scripts.js"></script>

    <script>
        function changeLanguage() {
            document.getElementById('languageForm').submit();
        }
    </script>
</body>

</html>